#carNav{
 background-color: lightgreen;
 text-align: right;
 margin: 0;
 display: inline;
}

#carNav button{
 border: none;
 background-color: transparent;
 font-weight: bold;
 color: black;
}

#carNav form{
 display: inline;
}

header{
 background-color: lightgreen;
 
 font-weight: bold;
 margin: 0;
 
}

header h1{
 text-align: center;
}